html {
  background-color: #E4E9FD;
  background-image: -webkit-linear-gradient(65deg, #A683E3 50%, #E4E9FD 50%);
  min-height: 694px;
  font-family: cursive;
}

h1 {
  color: #fff;
  padding: 10px;
  margin-bottom: 10px;
  font-weight: 100;
}
.box {
  max-width: 375px;
  margin: 50px auto;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.box:last-child{
  margin-top: 25px;
}

#heading {
  background-color: #A683E3;
  text-align: center;
  margin-bottom: 4px;
}

.categories{
  margin-top: 0px;
  background-color: transparent;
  display : flex;
  box-shadow: 0px 0px 0px;
  margin-bottom: 0px;
}

.ow,.ho{
  outline: none;
  background-color: #A683E3;
  border-radius: 4px;
  height:50px;
  width:187px;
  color:#fff;
  font-family: cursive;
  font-size: 25px;
  border: 0px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}
.ho{
  margin-right:4px;
}
.ow{
  margin-left:4px;
  background-color: #E4E9FD;
  color: #A683E3;
}




.item {
  min-height: 70px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #F1F1F1;
  margin-left: 20px;
  margin-right: 20px;
}

.item:last-child {
  border-bottom: 0;
}

input:checked+p {
  text-decoration: line-through;
  text-decoration-color: #A683E3;
}

input[type="checkbox"] {
  margin: 20px;
}

p {
  margin: 0;
  padding: 20px;
  font-size: 22px;
  font-weight: 100;
  font-family: cursive;
  color: #A683E3;
}

form {
  text-align: center;
}

.add {
  height: 45px;
  width: 50px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #A683E3;
  color: #fff;
  font-size: 30px;
  padding-bottom: 6px;
  border-width: 0;
  padding-top: 6px;
  outline:none;
}

input[type="text"] {
  text-align: center;
  height: 60px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 200;
  width: 313px;
}

input[type="text"]:focus {
  outline: none;
  box-shadow:inset 0 -3px 0 0 #A683E3;
  color:#A683E3;
}

::placeholder {
  color: #A683E3;
  opacity: 0.7;
}



